@import "~antd/dist/antd.css";

.navHeader {
  padding: 5px 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  box-shadow: 0 0 30px #f3f1f1;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}